/*global*/
body{
    margin:40px auto;
    max-width:800px;
    line-height:1.8;
    font-size:1.2em;
    color:#444;
    padding:0 10px;

    background: #f2f2f2; 
    color: #444444; 
}

h1,h2,h3{
    line-height:1.2;
}

a {
    color:#07a;
}
a:visited {
    color:#941352;
}

pre {
    overflow-x: scroll;
}

/*breadcrumb related*/
.breadcrumb-container{
    margin: 0;
    padding: 0;
    list-style: none;
}

.breadcrumb-container li{
    float: left;
}


/*pagination related*/
.pagination{
    list-style: none;
}

.pagination li.page-item{
    float: left;
    padding: 0 0.5em;
}


/*home page*/
.post-summary-container {
    position: relative;
}

.post-summary-container-time{
    font-size: 0.7em;
    position: absolute;
    right: 0;
}

footer {
    font-size: 0.7em;;
}