{{ define "main" -}}
<h1>List - {{.Title}}</h1>
    {{.Content}}

    <br/>
    {{ $paginator := .Paginate (.Data.Pages) }}
    {{ template "_internal/pagination.html" . }}
    <br/>

    <ul>
        
    {{/*{{ range .Data.Pages -}}*/}}
    {{ range  $paginator.Pages -}}
    <li>
        <span>
            <a href="{{ .Permalink }}">{{ .Title }}</a> 
            <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}">
                {{ .Date.Format "Mon, Jan 2, 2006" }}
            </time>
        </span>
    </li>
    {{- end }}
    </ul>
{{- end }}
