{{ define "main" -}}
    <h1>{{.Title}}</h1>
    {{.Content}}

    {{/*{{ $paginator := .Paginate (.Data.Pages) }}*/}}
    {{ $paginator := .Paginate (where .Data.Pages  "Kind" "page") }}
    {{ template "_internal/pagination.html" . }}
    

    <ul>
    {{ range  $paginator.Pages -}}
    <li>
        <span>
            <a href="{{ .Permalink }}">{{ .Title }}</a> 
            <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}">
                {{ .Date.Format "Mon, Jan 2, 2006" }}
            </time>
        </span>
    </li>
    {{- end }}
    </ul>


    {{if  ne ((where .Data.Pages  "Kind" "section") | len)  0}}
    <hr/>
    <h2>Subsections</h2>
    <ul>
        {{range where .Data.Pages  "Kind" "section"}}
        <li>
            <span>
                <a href="{{ .Permalink }}">{{ .Title }}</a> 
                <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}">
                    {{ .Date.Format "Mon, Jan 2, 2006" }}
                </time>
            </span>
        </li>
        {{end}}
        
    </ul>
    {{end}}
{{- end }}
