{{ define "title" }}
    {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}

{{ define "main" }}
    <h1>{{ .Title }}</h1>

    {{/*Tag section*/}}

    {{if ne (.Params.tags)  nil}}
        {{$page := .}}
        <p>
            Tags:
        
            {{range where .Site.Pages  "Kind" "taxonomy"}}
                {{if eq .Name "Tags"}}
                    {{$pageTags := $page.Params.tags}}

                    {{/*loop over each tag in site*/}}
                    {{range $tagPage := .Data.Pages}}
                        
                        {{if in $pageTags $tagPage.Title }} 
                            <a href="{{ $tagPage.Permalink }}">{{ .Title }}</a>             
                        {{end}}
                    {{end}}
                {{end}}
            {{end}}
        </p>
    {{end}}

    

    <article>
        {{ .Content }}
    </article>

    <br/>
    
        
    {{if ne (.Params.series)  nil}}
        <hr/>
        {{$pageSeries := .Params.series}}

        {{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
            {{if eq $taxonomyname "series"}}
                {{/*loop over each series in this site*/}}
                {{range $tName,$tPages := $taxonomy}}
                
                    {{range $pageSeries}}
                        {{if in $tName (urlize .)}}
                        This page is part of "{{.}}" series
                        
                        <ol>
                            {{range $tPages}}
                            <li>
                                <span>
                                    <a href="{{ .Permalink }}">{{ .Title }}</a> 
                                    <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}">
                                        {{ .Date.Format "Mon, Jan 2, 2006" }}
                                    </time>
                                </span>
                            </li>
                            {{ end }}
                        </ol>
                        {{ end }}
                    {{end}}
                {{end}}
            {{end}}
        {{end}}    
    {{end}}
    
    
{{ end }}

