{{/*
    copy from https://dongheenam.info/posts/breadcrumb-navigation-in-hugo/
*/}}
<ul class="breadcrumb-container">
    {{ template "breadcrumbnav" (dict "p1" . "p2" .) }}
</ul>
  
{{ define "breadcrumbnav" }}
    {{ if .p1.Parent }}
        {{ template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p2 )  }}
    {{ else if not .p1.IsHome }}
        {{ template "breadcrumbnav" (dict "p1" .p1.Site.Home "p2" .p2 )  }}
    {{ end }}
    {{if and (ne .p1.Title  "Posts") (ne .p1.Title  "Specials")}}
        <li {{ if eq .p1 .p2 }} class="active"{{ end }}>
            {{ if .p1.Parent }}→{{ end }}
            <a href="{{ .p1.RelPermalink }}">{{ .p1.Title }}</a>
        </li>
    {{ end }}
{{ end }}