<hr/>
<footer>

    <span class="copyright">
		{{ replace .Site.Copyright "{year}" now.Year }}
	</span>
    <br/>
    
    {{ $ishome := (cond .IsHome "RSS"  "RSS of this section" )}}

    {{ with .OutputFormats.Get "rss" -}}
        {{ printf `<a href="%s"><span class="rss">%s</span></a>`  .Permalink $ishome | safeHTML }}
    {{ end -}}

</footer>