<nav>
  <header>
      {{ partial "breadcrumb.html" . }}    
  </header>
  <br/>
  
  {{if .IsHome}}
    <hr/>
    <span>sections:</span>
    {{/*
      list all section under 'posts'
    */}}
    {{$posts := (.Site.GetPage "section" "posts") }}
    {{range $posts.Sections}}
      <a href="{{.Permalink}}">{{.Title}}</a>
    {{end}}
    
    {{if gt (len (where  (where .Site.Pages  "Kind" "page") "Type" "=" "special")) 0 }}
      <hr/>
      {{/*
        add a extra link from special
      */}}
      {{range where  (where .Site.Pages  "Kind" "page") "Type" "=" "special"}}
        <a href="{{.Permalink}}">{{.Title}}</a>
      {{end}}  
    {{end}}

  {{end}}
  
</nav>