<article class="post-summary-container">
    
    <h3 class="post-summary-container-header">
        <a href="{{.Permalink}}">{{.Title}}</a>
        <span class="post-summary-container-time">
            <time datetime="{{.Date.UTC.Format "2006-01-02T15:04:05Z0700"}}">{{.Date.UTC.Format "2006-01-02"}}</time>
        </span>    
    </h3>
    
    
    {{.Summary}}
    
    {{ if .Truncated }}
    <br/>
    <div class="read-more-link">
        <a href="{{ .RelPermalink }}">Read More…</a>
    </div>
    {{ end }}
</article>