{{if  ne ((.Data.Pages) | len)  0}}
    <section>
        <a href="{{.Permalink}}" ><h1>{{.Title}}</h1></a>

        <ul>
            {{range .Data.Terms}}
            <li>
                <a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> 
                {{ .Count }}
            </li>
            {{end}}
        </ul>
    </section>
{{end}}

