{{define "main"}}

{{.Content}}


<section>
  {{with .Site.GetPage "section" "all-posts"}} 
      <a href="{{.Permalink}}"><h1>Latest Post</h1></a>
  {{end}}
  
  
  {{range where  (where .Site.Pages  "Kind" "page") "Type" "!=" "special"}}
    {{partial "postsummary.html" .}}
  {{end}}
  
</section>

  {{range where .Site.Pages  "Kind" "taxonomy"}}
    {{partial "taxonomysummary.html" .}}
  {{end}}

{{end}}